{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>The Weather</title>

	<!-- Style CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<!-- Bootstrap Links -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body id="body">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-transparent p-3">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="{% url 'index' %}">The Weather</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav ms-auto">
	        {% if user.is_authenticated %}
	        <li class="nav-item">
	          <a class="nav-link" href="#">Logout</a>
	        </li>
	        {% else %}
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'login' %}">Login</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
	        </li>
	        {% endif %}
	      </ul>
	    </div>
	  </div>
	</nav>
	<!-- End of Navbar -->

	{% block content %}
	{% endblock %}

	<!-- Footer -->
	<footer class="text-muted bg-transparent fixed-bottom " id="footer-id">
    	<div class="container text-center">
      		<p>© Rafael Lima {% now "Y" %}</p>
    	</div>
	</footer>

</body>
</html>