{% extends 'base.html' %}

{% block content %}
<div class="container" id="login-container">
	<div class="row">
		<div class="col-6" id="col-title">
			<h1 id="title">The Weather</h1>
		</div>
		<div class="col-6">
			<h3>Login</h3><br>
			<form method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				Username:<br>
				{{form.username}}<br>
				Password:<br>
				{{form.password}}<br><br>
				<input type="submit" class="btn btn-outline-light" value="Login"><br><br>
				<p><a href="{% url 'signup' %}">Don't have an account yet</a></p>
			</form>
			{% if forms.errors %}
			<div class="alert alert-danger" role="alert">
				{% for error in form.errors.values %}
				<p>{{error}}</p>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}