#body{
	background: #0A1931;
	text-align: center;
	color: #EFEFEF;
}

#title {
	font-family: 'Lobster', cursive;
	font-size: 70px;
	padding-top: 30px;
}

#search-bar {
	padding-top: 50px;
}

#weather-cards {
	padding-top: 50px;
	text-align: left;
	width:  400px;
}