#body{
	background: #7C83FD;
	text-align: center;
}

#title {
	font-family: 'STIX Two Math', serif;
	color: #fff;
	font-size: 70px;
	padding-top: 40px;
}

#search-bar {
	padding-top: 20px;
}

#weather-cards {
	padding-top: 30px;
}