{% extends 'base.html' %}

{% block content %}

<h1 id="title">The Weather</h1>

<!-- Search Bar -->
<div class="input-group" id="search-bar">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
    	          <form method="POST" action="{% url 'index' %}">
    		            {% csrf_token %}
      	            <input type="search" class="form-control" placeholder="City Name" aria-label="Search" aria-describedby="search-addon" autofocus/>
            </div>
            <div class="col-2">
                <select class="form-control" name="units">
                    <option value="standard">Standard</option>
                    <option value="metric">Metric</option>
                    <option value="imperial">Imperial</option>
                </select>
            </div>
            <div class="col-1">
                   <input type="submit" class="btn btn-outline-light" value="Search">
            </div>
  	            </form>
            </div>
        </div>
    </div>
</div>
<!-- End Search Bar -->

<!-- Weather Cards -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div id="weather-cards">
        
        <div class="card text-dark mb-3" id="weather-card">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-11">
                            {{weather_data.name}}
                        </div>
                        <div class="col-1">
                            <a href=""><i class="far fa-star"></i></a>
                        </div>
                    </div>
                </div>
            </div>
              <div class="card-body">
                  <div class="container">
                      <div class="row">
                          <div class="col-6 card-chunk1">
                              <h3 class="card-title">{{weather_data.main.temp}}° C</h5>
                          </div>
                          <div class="col-6 card-chunk2">
                              <img src="http://openweathermap.org/img/w/{{weather_data.weather.0.icon}}.png" alt="Icon">
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-6 card-chunk1">
                              <p class="card-text">{{weather_data.weather.0.description}}</p>
                          </div>
                          <div class="col-6 card-chunk2">
                              <h5>{{weather_data.weather.0.main}}</h5>
                          </div>
                      </div>

                  </div>
              </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Weather cards -->

{% endblock %}

